.root{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
}

.box {
    background-color: white;
    border-color: black;
    border-width: 0.1em;
    border-style: solid;
    width: 10em;
    height: 10em
}

.box:hover {
    background-color: grey;
}

.row {
    display: flex;
}